* {
    border: none;
    font-family: "Fira Code", "Noto Sans", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inherit;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory {
    padding: 0 10px;
}
