window {
    margin: 5px;
    border: 1px solid #333;
    background-color: #222;
}

#input {
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #333;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #222;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #222;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #fff;
}

#entry:selected {
    background-color: #444;
}
